{% extends 'base/main.html' %}
{% block content %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
    
            <h1 class='text-center my-5'>Tasks Page</h1>

            <div class='card'>
                <div class='card-header'>
                    Tasks
                    <a class="btn btn-success btn-sm float-end m-2 mt-0" href="{% url 'task-create' %}">Create Task</a>
                </div>
                <div class="card-body">
                    <ul class='list-group'>
                        {% for task in tasks %}
                        
                        <li class='list-group-item' data-position="{{task.pk}}">
                                {% if task.complete %}
                                    <s>{{task}}</s>
                                {% else %}
                                    {{task}}
                                {% endif %}
                                <a class="btn btn-danger btn-sm float-end m-2 mt-0" href="{% url 'task-delete' task.id %}">Delete</a>
                                <a class="btn btn-success btn-sm float-end m-2 mt-0" href="#">Edit</a>

                                <a class="btn btn-primary btn-sm float-end m-2 mt-0" href="{% url 'task' task.id %}">view</a>
                        </li>
                        {% empty %}
                        <div>
                            <h3>No new tasks are created.</h3>
                            <h3>Create a <a href="{% url 'task-create' %}">New task</a> ! </h3>
                        </div>
                        {% endfor %}
                    </ul>
                </div>
                
            </div>
            </div>
        </div>
        
</div>
{% endblock content %}





{% comment %} {% extends 'base/main.html' %}
{% block content %}
<div  class="">
    {% for task in tasks %}
    <div class="" data-position="{{task.pk}}">
        <div class="">
            {% if task.complete %}
            <div class=""></div>
            <i><s>{{task}}</s></i> 
            {% else %}
            <div class=""></div>
            <i>{{task}}</i> 
            {% endif %}
        </div>
        <div class="">
            <a class="btn btn-danger btn-sm float-end m-2" href="{% url 'task-delete' task.id %}">Delete</a>
            <a class="btn btn-primary btn-sm float-end m-2" href="{% url 'task' task.id %}">view</a>

        </div>
    </div>
    {% empty %}
    <div>
        <h3>No new tasks are created.</h3>
        <h3>Create a <a href="{% url 'task-create' %}">New task</a> ! </h3>
    </div>
    {% endfor %}
</div>

{% endblock content %} {% endcomment %}